.container {
  width: 100%;
  height: auto;
  height: calc(100% - 0.88rem);
  background: #fff;
}
.list_list {
  width: 100%;
  height: auto;
}
.banner {
  width: 7.086rem;
  height: 5rem;
  margin: 0.2rem auto 0;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ban_cent {
  width: 7.086rem;
  padding-bottom: 10px;
  margin: 0.2rem auto 0;
  box-shadow: 0 2px 9px 0 #eeeeee;
  background: #fff;
  border-radius: 2px;
}
.name_cent {
  padding: 0.2rem 0.3rem;
}
.name {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}
.dollar {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  margin-left: 20px;
}
.name_rent {
  padding: 0rem 0.3rem;
}
.monthly a {
  color: red;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 17px;
  text-decoration: none;
}
.renewal {
  margin-left: 20px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
}
.renewal a {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
  text-decoration: none;
}
.name_words {
  padding: 0.1rem 0.2rem;
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
}
.name_cate {
  padding: 0rem 0.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
}
.product {
  width: 7.086rem;
  height: 1rem;
  line-height: 1rem;
  background: #ffffff;
  box-shadow: 0 2px 9px 0 #eeeeee;
  border-radius: 2px;
  margin: 0.2rem auto 0;
}
.name_pro {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
}
.name_pro span {
  margin-left: 10px;
}
.data_name {
  width: 7.068rem;
  height: 2rem;
  background: #ffffff;
  box-shadow: 0 2px 9px 0 #eeeeee;
  border-radius: 2px;
  margin-top: 10px;
  margin: 0.2rem auto 0;
}
.begin_rent {
  width: 7.068rem;
  height: 1rem;
  line-height: 1rem;
  box-shadow: 0 2px 9px 0 #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.name_credit {
  width: 7.068rem;
  height: 1rem;
  line-height: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.name_credit sesame {
  font-size: 14px;
  color: #00a5ff;
  letter-spacing: 0;
}
.sign {
  font-size: 14px;
  color: #fd4689;
  letter-spacing: 0;
}
.name_foot {
  width: 100%;
  margin-top: 20px;
  background: #fff;
  /*box-shadow: 0 2px 9px 0 #eeeeee;*/
  margin: 0.2rem auto 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
}
.total_foot {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  box-shadow: 0 1px 9px 0 #eeeeee;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin: 0.2rem auto 0;
}

.total_lef {
  width: 70%;
  height: 1rem;
  line-height: 1rem;
  line-height: 1rem;
}
.add {
  margin-left: 10px;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
}
.tinct {
  font-size: 17px;
  color: rgba(253, 70, 137, 0.58);
  letter-spacing: 0;
  line-height: 20px;
}
.total_rig {
  width: 30%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  background-image: linear-gradient(-130deg, #fd4689 0%, #fd82d9 100%);
  box-shadow: 0 1px 4px 0 rgba(253, 70, 137, 0.58);
}
